<form>
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input name="firstname" id="firstname">
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input name="lastname" id="lastname">
  </div>
  <div class="form-group">
    <label for="fiscalcode">Fiscal Code</label>
    <input name="fiscalcode" id="fiscalcode">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input name="phone" id="phone">
  </div>
  <div class="form-group">
    <label for="email">First Name</label>
    <input name="email" id="email" type="email">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input name="age" id="age">
  </div>
  <div class="form-group form-footer">
    <button class="btn-save">Save</button>
  </div>
</form>
